{% load static %}
<div class="footer-new" style="z-index: 5">
    <div class="menu-bar">
        <ul>    
            <li><a href="/#main" title="Home"><i class="fa fa-home"></i></a></li>
            <li><a href="/#why-us" title="Social"><i class="fa fa-handshake-o"></i></a></li>
            <li><a href="/#features" title="How It Works"><i class="fa fa-cogs"></i></a></li>
            <li><a href="/#faqs" title="Faq"><i class="fa fa-question-circle"></i></a></li>
            <li><a href="{% url 'reach_us' %}" title="Contact"><i class="fa fa-address-book"></i></a></li>

        </ul>    
        
    </div>
    
</div>