{% extends 'manageportal/adminbase.html' %}

{% block title %}Admin | Create Receipt{% endblock %}

{% block container %}
<div class="row">
    <div class="page-title mr-auto px-3 pt-2">
        <h4 class="h3">Make a Receipt</h4>
    </div>
    <nav aria-label="breadcrumb" class="ml-auto tm-breads">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'adminhome' %}">Home</a></li>
        </ol>
    </nav>
</div>
<div class="row pt-1 pb-3 pt-sm-2 pb-sm-4">
    <div class="col-12">
        <div class="card tm-shadow-btm">
            <div class="card-body p-0">
                <div class="table-responsive flex-fill">
                    <table class="table table-hover m-0">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Product ID</th>
                            <td>{{ id }}</td>
                        </tr>
                        <tr>
                            <th scope="col">Customer Name</th>
                            <td>{{ name }}</td>
                        </tr>
                        <tr>
                            <th scope="col">Product Name</th>
                            <td>{{ item_name }}</td>
                        </tr>
                        <tr>
                            <th scope="col">Item Cost</th>
                            <td>{{ cost }}</td>
                        </tr>
                        <tr>
                            <th scope="col">Amount Paid</th>
                            <td>{{ moneyPaid }}</td>
                        </tr>
                        <tr>
                            <th scope="col">Shipping</th>
                            <td>{{ shipping }}</td>
                        </tr>
                        <tr>
                            <th scope="col">Date</th>
                            <td>{{ date }}</td>
                        </tr>
                        </thead>

                    </table>
                    <div class="card tm-shadow-btm" style="margin-top: .87em">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="background-color: #e9ecef">
                                <form action="" method="post" class="form-horizontal">
                                    {% csrf_token %}
                                    <div class="form-group form-row">
                                        <label for="balance" class="col-12 col-sm-3 col-form-label">Balance(if any):</label>
                                        <input type="number" step="0.02" name="balance" id="balance" value="{{ balance }}" class="form-control col-10 col-sm-6">
                                    </div>
                                    <div class="form-group text-right">
                                        <button type="submit" class="btn btn-primary"><i class="icon ion-ios-send"></i>
                                            Send</button>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}
