{% extends 'manageportal/auth_base.html' %}

{% block title %}smartAlaba | Password Reset{% endblock %}

{% block container %}
<div class="container-fluid">
      <div class="row py-2">
        <div class="col-12 col-sm-6 col-lg-4 m-auto">
          <div class="tm-box rounded">
            <h4 class="tm-box-header text-center text-capitalize text-gray border-bottom mb-4 pb-3 tm-black-50">
              The password has been changed!
            </h4>
            <div class="tm-box-body">
	            <div class="form-group text-center mt-2">
	              <a class="btn btn-primary d-block" href="{% url 'login' %}">Log in again?</a>
	            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}