{% extends 'manageportal/auth_base.html' %}

{% block title %}smartAlaba | Password Reset{% endblock %}

{% block container %}
<div class="container-fluid">
      <div class="row py-2">
        <div class="col-12 col-sm-6 col-lg-4 m-auto">
          <div class="tm-box rounded">
            <h4 class="tm-box-header text-center text-capitalize text-gray border-bottom mb-4 pb-3 tm-black-50">
              We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.
            </h4>
          </div>
        </div>
      </div>
    </div>
{% endblock %}