{% extends 'manageportal/auth_base.html' %}

{% block title %}smartAlaba | Password Reset{% endblock %}

{% block container %}
<div class="container-fluid">
      <div class="row py-2">
        <div class="col-12 col-sm-6 col-lg-4 m-auto">
          <div class="tm-box rounded">
            <h4 class="tm-box-header text-center text-capitalize text-gray border-bottom mb-4 pb-3 tm-black-50">
              Reset Password
            </h4>
            <div class="tm-box-body">
              <form method="post" action="" class="form-horizontal mt-5">
                {% csrf_token %}
                <div class="form-group">
                    {% if form.email.errors %}
                    {{ form.email.errors }}
                    {% endif %}
                  <div class="input-group clearfix">
                      <span>Enter email address</span>
                    <td>{{ form.email }}</td>
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="icon ion-ios-at"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group text-center mt-2">
                  <button type="submit" class="btn btn-primary">Reset password</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}